<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ domain_name }}
    Redirect permanent / https://{{ domain_name }}/
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin webmaster@localhost
    ServerName {{ domain_name }}
    DocumentRoot "/usr/local/var/www"
    SSLEngine on
    SSLCertificateFile "/usr/local/etc/httpd/ssl/apache-selfsigned.crt"
    SSLCertificateKeyFile "/usr/local/etc/httpd/ssl/apache-selfsigned.key"

    ErrorLog "/usr/local/var/log/httpd/error_log"
    CustomLog "/usr/local/var/log/httpd/access_log" combined
</VirtualHost>

